<a href="https://colab.research.google.com/github/macrorideslr0942/hellow-world/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.DataFrame(([['1987年9月',20],['1987年10月',30]]))
df

          0   1
0   1987年9月  20
1  1987年10月  30

In [9]:
col0 = df.iloc[:, 0]
col1 = df.iloc[:, 1]
print(col0, type(col0))
print(col1, type(col1))

0     1987年9月
1    1987年10月
Name: 0, dtype: object <class 'pandas.core.series.Series'>
0    20
1    30
Name: 1, dtype: int64 <class 'pandas.core.series.Series'>

In [5]:
s1 = [1,2]
s2 = [3,4]

# axis = 0 (行方向に結合) = Series
"""
s1
s2
1
2
3
4

# axis1(列方向に結合) =　DataFrame
s1 s2
1 3
2 4
"""

df2 = pd.concat([col0, col1], axis=1)
type(df2)

pandas.core.frame.DataFrame

In [11]:
df3 = df2.replace(["年", "月"], [",", ""], regex=True)
df3

         0   1
0   1987,9  20
1  1987,10  30

In [20]:
df4 = df3[0].str.split(",")
type(df4)
"""
df4
Xを1ずつ増加する整数にしたい
1987/1 = 1
1987/2 = 2
"""

0     [1987, 9]
1    [1987, 10]
Name: 0, dtype: object

In [23]:
X = []
#1987年1月を１にしてYYYY_MMを整数に変換する
for y_m in df4:
  print(y_m)
  num = (int(y_m[0]) - 1987)*12 + int(y_m[1])
  X.append(num)

X

['1987', '9']
['1987', '10']

[9, 10]

In [ ]:
y = [1, 2, 3] # y[0][0]
y = [[1], [2], [3]] #  y[0][0]

In [24]:
col0.shape

(2,)

In [27]:
[[x] for x in col0]

[['1987年9月'], ['1987年10月']]

In [35]:
import numpy as np
x = np.arange(24)

In [36]:
x.shape

(24,)

In [37]:
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [39]:
x.reshape([-1, 1])

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23]])